<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <app-item-phone *ngFor="let p of listPhone" [phone]="p"(plusQuantite)="increment($event)" (confirm)="confirmer($event)" (moinsQuantite)="decrement($event)"  (delete)="deletePhone($event)" ></app-item-phone>

        </div>
        <div *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
        </div>
        <div [hidden]="errMess||listPhone" class="spinner-grow text-primary text-center" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>

</div>