<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <form [formGroup]=fg>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email">
                    <div class="alert alert-danger mt-4" *ngIf="email.errors && email.touched">
                      the name is a required field
                    </div>
                  </div>
                  <div class="form-group">
                    <label>password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div class="alert alert-danger mt-4" *ngIf="password.errors && password.touched">
                      the age is a required field
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="alert alert-success" (click)="save()" [disabled]="fg.invalid">
                      Login
                    </button>

                  </div>
                  <a [routerLink]="['/register']">Vous voulez inscrire ?</a>
                  </form>

        </div>
        <div class="col-md-6">
          <app-weather-widget></app-weather-widget>

        </div>

    </div>

</div>

