<form [formGroup]=fg>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name"  value="{{phone.name}}">
        <div class="alert alert-danger mt-4" *ngIf="name.errors && name.touched">
          the name is a required field
        </div>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" formControlName="age" value="{{phone.age}}">
        <div class="alert alert-danger mt-4" *ngIf="age.errors && age.touched">
          the age is a required field
        </div>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" formControlName="quantity" >
        <div class="alert alert-danger mt-4" *ngIf="quantity.errors && quantity.touched">
          <div *ngIf="quantity.errors.required">the Quantity is a required field</div>
        </div>
      </div>
      <div class="form-group">
        <label>Snippet</label>
        <input type="text" class="form-control" formControlName="snippet" value="{{phone.snippet}}">
        <div class="alert alert-danger mt-4" *ngIf="snippet.errors && snippet.touched">
          <div *ngIf="snippet.errors.required">the snippet is a required field</div>
        </div>
      </div>
      <div class="form-group">
        <label>Upload Image</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control" value={{phone.imageUrl}} />


      </div>
      <h1>Android</h1>
  <div formGroupName="android">
    <div class="form-group">
      <label>OS</label>
      <input type="text" class="form-control" formControlName="os" >
      <div class="alert alert-danger" *ngIf="os.errors && os.touched">
        the OS is a required field
      </div>
    </div>
    <div class="form-group">
      <label>UI</label>
      {{ phone| json }}
      <input type="text" class="form-control" formControlName="ui" >
      <div class="alert alert-danger" *ngIf="ui.errors && ui.touched">
       Ui is a required
      </div>
    </div>
  

  </div>
  <button class="alert alert-success" (click)="update()" [disabled]="fg.invalid">
    Save
  </button>
  <div class="alert alert-success" *ngIf="saved">
    la telephone est ajouter avec success

  </div>



</form>
<div class="mt-3" >
  <div>
    <p>Status: {{fg.status}}</p>






  </div>
</div>
