.btn-pannier{
    background-color: #34568B !important;
    color: white;
}
.btn-add-shop{
    background-color: #3Fc1c9 !important;
    color: white; 
    width: 100%;
}
.btn-view{
    background-color: #364f6B !important;
    color: white; 
    width: 100%;
}
